In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
# --- Cargar el Modelo y los Datos ---
MODEL_PATH = '../models/lgbm_tuned_model.pkl'
DATA_PATH = '../data/processed/featured_player_dataset.csv'

# Cargar el modelo entrenado
model = joblib.load(MODEL_PATH)
print("Modelo optimizado cargado.")

# Cargar el dataset con las features
df = pd.read_csv(DATA_PATH)
print("Dataset con features cargado.")

Modelo optimizado cargado.
Dataset con features cargado.

In [3]:
# --- Preparar los Datos para la Predicción ---
TARGET = 'market_value_in_eur'
cols_to_exclude = [
    'player_id', TARGET, 'goals', 'assists', 'minutes_played', 'games_played',
    'name', 'position', 'sub_position', 'country_of_citizenship', 
    'current_club_name', 'contract_expiration_date', 'valuation_date'
]
features = [col for col in df.columns if col not in cols_to_exclude]
X = df[features].select_dtypes(include=np.number)

In [4]:
# --- Hacer Predicciones y Calcular Errores ---
print("\nRealizando predicciones sobre todo el dataset...")

# Predecir en escala logarítmica y revertir a euros
preds_log = model.predict(X)
df['predicted_value'] = np.expm1(preds_log)

# Calcular el error
df['error'] = df['predicted_value'] - df['market_value_in_eur']
df['abs_error'] = abs(df['error'])
df['error_percent'] = (df['error'] / df['market_value_in_eur']) * 100

print("Cálculo de errores completado.")

Realizando predicciones sobre todo el dataset...
Cálculo de errores completado.

In [5]:
# =============================================================================
# Análisis 1: Los 10 Mayores Errores Absolutos (en Euros)
# =============================================================================
# Estos son los jugadores donde el modelo se equivocó por más millones de euros.
# Nos ayuda a ver si hay un patrón en los jugadores de élite.

top_10_worst_errors = df.sort_values(by='abs_error', ascending=False).head(10)

print("\n--- Top 10 Mayores Errores Absolutos ---")
# Formatear valores para mejor legibilidad
display_cols = ['name', 'position', 'age', 'market_value_in_eur', 'predicted_value', 'error']
top_10_worst_errors[display_cols].style.format({
    'market_value_in_eur': "€{:,.0f}",
    'predicted_value': "€{:,.0f}",
    'error': "€{:,.0f}"
})

--- Top 10 Mayores Errores Absolutos ---

In [6]:
# =============================================================================
# Análisis 2: Los 10 Mayores Errores Relativos (Positivos y Negativos)
# =============================================================================
# Estos son los jugadores donde el modelo se equivocó más en porcentaje.
# Nos ayuda a encontrar perfiles que el modelo fundamentalmente malinterpreta.

# Top 10 Sobreestimaciones
top_10_overestimated = df.sort_values(by='error_percent', ascending=False).head(10)

# Top 10 Subestimaciones
top_10_underestimated = df.sort_values(by='error_percent', ascending=True).head(10)

print("\n--- Top 10 Mayores Sobreestimaciones (%) ---")
display(top_10_overestimated[display_cols].style.format({
    'market_value_in_eur': "€{:,.0f}",
    'predicted_value': "€{:,.0f}",
    'error': "€{:,.0f}"
}))

print("\n--- Top 10 Mayores Subestimaciones (%) ---")
display(top_10_underestimated[display_cols].style.format({
    'market_value_in_eur': "€{:,.0f}",
    'predicted_value': "€{:,.0f}",
    'error': "€{:,.0f}"
}))

--- Top 10 Mayores Sobreestimaciones (%) ---

--- Top 10 Mayores Subestimaciones (%) ---