In [4]:
import pandas as pd
import numpy as np
import joblib
import json

In [5]:
# --- Cargar el Modelo FINAL y los Datos CONTEXTUALES ---
MODEL_PATH = '../models/lgbm_final_context_model.pkl'
DATA_PATH = '../data/processed/contextual_featured_dataset.csv'

model = joblib.load(MODEL_PATH)
df = pd.read_csv(DATA_PATH)

In [6]:
# --- Preparar los Datos para la Predicción ---
# Usamos las columnas guardadas para asegurar la consistencia
COLUMNS_PATH = '../models/model_columns.json'
with open(COLUMNS_PATH, 'r') as f:
    model_columns = json.load(f)

X = df[model_columns]

In [7]:
# --- Hacer Predicciones y Calcular Errores ---
preds_log = model.predict(X)
df['predicted_value'] = np.expm1(preds_log)
df['error'] = df['predicted_value'] - df['market_value_in_eur']
df['abs_error'] = abs(df['error'])

In [8]:
# --- La Prueba de Fuego: Los 10 Mayores Errores Absolutos (¿Han mejorado?) ---
top_10_worst_errors = df.sort_values(by='abs_error', ascending=False).head(10)

print("\n--- Top 10 Mayores Errores Absolutos (Modelo FINAL con Contexto) ---")
display_cols = ['name', 'position', 'age', 'market_value_in_eur', 'predicted_value', 'error']
top_10_worst_errors[display_cols].style.format({
    'market_value_in_eur': "€{:,.0f}",
    'predicted_value': "€{:,.0f}",
    'error': "€{:,.0f}"
})

--- Top 10 Mayores Errores Absolutos (Modelo FINAL con Contexto) ---